.app-header {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  flex-direction: row;
  background-color: rgb(17, 36, 65);
  height: 90px;
  z-index: 500;
}

.col-btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  gap: 20PX;
}

.col-btn{
  color: white;
}

.welcome {
  font-size: larger;
  color: white;
}

.app-header-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  /* margin-right: 20px; */
  flex-grow: 1;
}

.ant-select.css-dev-only-do-not-override-qgg3xn.ant-select-single.ant-select-show-arrow {
  height: auto !important;
}

.add-address-bottom {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
  justify-content: center;
  border-top: "1px solid rgb(201, 210, 212)";
}


