.kpi-section {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
  
.kpi {
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 5px;
}
  
.kpi-title {
    text-align: center;
    font-size: medium;
}
  
.kpi-data {
    font-weight: bold;
    font-size: x-large;
    color:rgb(59, 59, 59) ;
}

.max-cars-title{
    text-align: center;
    font-size: larger;
}

.max-cars-data-1{
    font-weight: bold;
}

.max-cars-data-2{
    font-weight: bold;
}

.add-car-from{
    padding-top: 40px;
}

.form-items{
    padding-top: 20px;
    min-height: 300px;
}

.submit-add-form-btn{
    float: right;
}