.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    width: 100%;
    top: 0;
}

.lot-table-container{
    width: 90%;
    padding: 25px;
}

.lot-side-panel-container{
    padding: 25px;
}