.app-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.app-body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
}

.app-body-inner {
  background-color: rgb(238, 243, 241);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 15px 0 0 25px;
  font-size: larger;
}

.app-body {
  display: flex;
}

.data_div {
  text-align: center;
}
